/* 重置浏览器默认样式和 */
* {
  box-sizing: border-box; /* 改变所有元素默认盒子模型 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* CC 去除默认边距和触摸高亮 */
}

:root {
  font-size: 15px;
  font-family: Helvetica, Arial, "Microsoft YaHei", "Droid Sans", sans-serif;
  text-size-adjust: 100%;
}

html,
body {
  position: relative;
  height: 100%;
/*  user-select: none;*/
}

body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
figure,
pre,
fieldset {
  margin: 0;
}

ol,
li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea,
select,
button {
  font: inherit;
  border-radius: 0;
  outline: none;
  appearance: none;
  tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: none;
}

a {
  color: #000;
  text-decoration: none;
  transition: all 0.1s;
}

b,
i,
cite {
  font-style: normal;
  font-weight: normal;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v26/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* 清除浮动 */
.ks-clear::after,
.clear::after {
  display: block;
  height: 0;
  clear: both;
  content: '\20';
}

.ks-clear,
.clear {
  *zoom: 1;
}

/* flex layout */
.flex-hrz {
  display: flex;
  flex-flow: row wrap;
}

.flex-full {
  flex: 1;
}

.flex-init {
  flex: initial;
}

.styles-overriding-css-example {
  width: 50% !important;
  margin: 0 auto !important;
  border: 2px solid #FF9800 !important;
  background-color: #ffd699 !important;
}

.left-menu {
	padding-top: 40px;
}

.top-bg {
  height: 40px;
	line-height: 40px;
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1101;
}

.a-block {
  a {
    display: block;
    width: 100%;
  }
}