.footer-banner {
  padding: 72px 24px 72px 24px;
  background-color: rgb(33, 33, 33);
  text-align: center;

  .clear-float {
    content: " ";
    display: table;
  }

  .footer-text {
    margin: 10px 0;
    color: rgba(255, 255, 255, 0.54);
  }

  a {
    color: rgba(255, 255, 255, 0.87);
  }

  .copyright {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 25px 15px 0px;
    padding: 0px;
    color: rgba(255, 255, 255, 0.54);
    line-height: 25px;
    font-size: 12px;
  }
}